<ion-content *ngIf="mostrarFormulario">
    <app-pagina [formGroup]="formGroup" [podeFechar]="true" (submit)="criarVeiculo()">
        <div class="titulo">,culo</div>

        <div class="container-veiculo">
            <div class="imagem-modelo">
                <img [src]="'assets/veiculos/'+ formGroup.controls.modelo.value.toLowerCase() +'.png'" alt=""
                     width="200px"/>
            </div>

            <div class="formulario">
                <div class="titulo">
                    Modelo
                </div>

                <ion-searchbar placeholder="Pesquisar" (ionChange)="modeloPesquisa($event)"></ion-searchbar>

                <select id="modelo" class="modelos" formControlName="modelo" size="6"
                        (change)="modeloSelecionado($event)">
                    <option *ngFor="let veiculo of (listaVeiculos | filter: filtroPesquisa)">
                        {{ veiculo }}
                    </option>
                </select>
            </div>
        </div>

        <div class="posicao">
            <ion-item>
                <ion-label position="floating">Cor Primária</ion-label>
                <ion-input formControlName="corPrimaria" [(colorPicker)]="corPrimaria"
                           (colorPickerChange)="corVeiculoPrimaria($event)"
                           [style.background]="corPrimaria"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Cor Secundária</ion-label>
                <ion-input formControlName="corSecundaria" [(colorPicker)]="corSecundaria"
                           (colorPickerChange)="corVeiculoSecundaria($event)"
                           [style.background]="corSecundaria"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Proprietário</ion-label>
                <ion-input formControlName="proprietario" type="text"></ion-input>
            </ion-item>
        </div>

        <div class="posicao">
            <ion-item>
                <ion-label position="floating">Placa</ion-label>
                <ion-input formControlName="placa" placeholder="Ex: BRZ5" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Valor Original</ion-label>
                <ion-input formControlName="valorOriginal" type="text"
                           placeholder="(R$) Real"
                           [brmasker]="{form: formGroup.get('valorOriginal'), money: true, thousand: '.'}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Valor Venda</ion-label>
                <ion-input formControlName="valorVenda" type="text"
                           placeholder="(R$) Real"
                           [brmasker]="{form: formGroup.get('valorVenda'), money: true, thousand: '.'}"></ion-input>
            </ion-item>
        </div>

        <div class="posicao">
            <ion-item>
                <ion-label position="floating">Posição X</ion-label>
                <ion-input formControlName="posicaoX" readonly type="text" placeholder="Posição X"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Posição Y</ion-label>
                <ion-input formControlName="posicaoY" readonly type="text" placeholder="Posição Y"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Posição Z</ion-label>
                <ion-input formControlName="posicaoZ" readonly type="text" placeholder="Posição Z"></ion-input>
            </ion-item>
        </div>

        <div class="booleans">
            <ion-item>
                <ion-label position="floating">Trancado?</ion-label>
                <ion-toggle formControlName="trancado"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label position="floating">A Venda?</ion-label>
                <ion-toggle formControlName="aVenda"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Motor ligado?</ion-label>
                <ion-toggle formControlName="motor"></ion-toggle>
            </ion-item>
        </div>

        <div class="posicao">
            <ion-item>
                <ion-label position="floating">Transparência</ion-label>
                <ion-input formControlName="transparencia" type="number"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Tamanho</ion-label>
                <ion-input formControlName="tamanho" type="number"></ion-input>
            </ion-item>
        </div>

        <div class="acoes">
            <button type="submit" [disabled]="!formGroup.valid" class="btn-enviar">Criar</button>
        </div>
    </app-pagina>
</ion-content>
