<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-2">404</h1>
          <h4 class="pt-1">Página não encontrada</h4>
          <p class="text-muted">A página que você tentou acessar não existe.</p>
        </div>

        <!--<div class="input-prepend input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input id="prependedInput" class="form-control" size="16" type="text" placeholder="O que você está procurando?">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>-->

        <div class="mt-2 text-center">
          <a href="" class="btn btn-outline-primary">Voltar a página inicial</a>
        </div>
      </div>
    </div>
  </div>
</div>
