{
	"maxplayers" : 50,
	"name" : "[:.:.Brazuca's Server.:.:] Minigames",
	"gamemode" : "rpg/minigames",
	"streamdistance" : 500.0,
	"announce" : true,
	"port": 22005,
	"language": "pt",
	"url": "http://brazucas-server.com",
	"allow-cef-debugging": true
}
