<ion-content>
    <app-pagina [formGroup]="formGroup" (submit)="login()">
        <div class="titulo">Bem vindo de volta, {{ formGroup.controls.usuario.value }}!</div>

        <ion-item>
            <ion-label position="floating">Nick</ion-label>
            <ion-input formControlName="usuario" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input #senha formControlName="senha" type="password"></ion-input>
        </ion-item>

        <div class="acoes">
            <button type="submit" [disabled]="!formGroup.valid" class="btn-enviar">Login</button>

            <a routerLink="esqueci-senha">Esqueceu sua senha?</a>
        </div>
    </app-pagina>
</ion-content>
