@import '../../../global';

.float {
  width: 100%;
  @include center(true, true);

  &.superior-direito {
    right: 0px;
    top: 100px;
    width: auto;
    left: auto;
  }

  &.superior-esquerdo {
    left: 100px;
    top: 100px;
    width: auto;
  }

  &.centro-esquerdo {
    left: 100px;
    width: auto;
  }

  &.centro-superior {
    width: auto;
    transform: matrix;
    top: 50px;
  }

  &.centro-direito {
    right: 100px;
    width: auto;
    left: auto;
  }

  &.inferior-esquerdo {
    left: 100px;
    bottom: 100px;
    width: auto;
    transform: initial;
    top: auto;
  }

  &.inferior-direito {
    right: 100px;
    bottom: 100px;
    width: auto;
    transform: initial;
    top: auto;
    left: auto;
  }
}

.container {
  width: 50%;
  margin: 0 auto;
  background-color: #383a3e;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.3);
}

.header {
  border-bottom: 1px solid #86888f;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

