<ion-content>
  <app-pagina [podeFechar]="false">
    <div class="subtitulo" [apresentarAsync]="playerName$">
      <ng-container *casoResultado="let playerName">
        Seu nick "{{ playerName }}" não é permitido. Somente nicks com letras, números e underline
        (desde que seja no meio do nome) são permitidos. Também é necessário que seu nick tenha no mínimo
          {{ PLAYER_NAME_MINLENGTH }} caracteres e no máximo {{ PLAYER_NAME_MAXLENGTH }} caracteres.
        <br /><br />Exemplo de nicks permitidos: Mandrakke_Army, Mandrakke, Mandrakke01, 01Mandrakke e similares.
      </ng-container>

      <ng-container *casoErro>
        Um erro ocorreu ao buscar o nick do jogador.
      </ng-container>
    </div>
  </app-pagina>
</ion-content>
