<ion-content>
    <app-pagina>
        <div class="lista">
            <div class="cabecalho">
                <div class="nome-servidor">

                </div>
                <div class="total-jogadores">
                    Jogadores online: {{ jogadores.value.length }}
                </div>
            </div>

            <div class="container-jogadores">
                <div class="cabecalho-lista">
                    <div class="id">ID</div>
                    <div class="nome">Nome</div>
                    <div class="nivel">Nível</div>
                    <div class="ping">Ping</div>
                </div>

                <div class="lista-jogadores" [apresentarAsync]="jogadores">
                    <ng-container *casoResultado="let lista">
                        <div class="jogador" *ngFor="let player of lista">
                            <div class="id">
                                {{ player.id }}
                            </div>

                            <div class="nome">
                                {{ player.name }}
                            </div>

                            <div class="nivel">
                                {{ player.data.nivel }}
                            </div>

                            <div class="ping">
                                {{ player.ping }}
                            </div>
                        </div>
                    </ng-container>

                    <div *casoErro>
                        Um erro ocorreu ao buscar a lista de jogadores!
                    </div>
                </div>
            </div>
        </div>
    </app-pagina>
</ion-content>
