<ion-content>
    <app-pagina position="top-right" top="230" [anim]="false" [cabecalho]="false" [layout]="false">
        <div class="gui-item go-up delay-1">
            <div class="gui-item-container">
                <div class="">
                    
                </div>

                <div class="gui-icon fome" appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.fome">
                    <img src="assets/player-gui/meat.png"/>
                </div>

                <div>
                    <div class="gui-indicator barra-normal"
                         appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.fome">
                        <app-player-gui-indicator [value]="dadosJogador.fome" activeColor="#ffbf00" backgroundColor="#9e7600">

                        </app-player-gui-indicator>
                    </div>

                    <div class="gui-indicator barra-invertida"
                         appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.sede">
                        <app-player-gui-indicator [invertido]="true" [value]="dadosJogador.sede"
                                                  activeColor="#00ffe5" backgroundColor="#009e8e">

                        </app-player-gui-indicator>
                    </div>
                </div>

                <div class="gui-icon sede" appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.sede">
                    <img src="assets/player-gui/drink.png"/>
                </div>
            </div>
        </div>

        <div class="gui-item go-up delay-3">
            <div class="gui-item-container">
                <div class="gui-icon sono" appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.sono">
                    <img src="assets/player-gui/bed.png"/>
                </div>

                <div>
                    <div class="gui-indicator barra-normal"
                         appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.sono">
                        <app-player-gui-indicator [value]="dadosJogador.sono" activeColor="#e95bff" backgroundColor="#682972">

                        </app-player-gui-indicator>
                    </div>

                    <div class="gui-indicator barra-invertida"
                         appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.forcaFisica">
                        <app-player-gui-indicator [invertido]="true" [value]="dadosJogador.forcaFisica"
                                                  activeColor="#32d302" backgroundColor="#1a7000">

                        </app-player-gui-indicator>
                    </div>
                </div>

                <div class="gui-icon forca" appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.forcaFisica">
                    <img src="assets/player-gui/strength.png"/>
                </div>
            </div>
        </div>

        <div class="gui-item go-up delay-4 headset">
            <div class="gui-item-container">
                <div class="gui-icon">
                    <img src="assets/player-gui/headset.png"/>
                </div>

                <div class="gui-indicator">
                    {{ voiceChatListeners.length }}
                </div>
            </div>
        </div>

        <div class="gui-item go-up delay-6">
            <div class="dinheiro">
                R$ {{ dinheiro }}
            </div>
        </div>

        <div class="gui-item go-up delay-7">
            <div class="creditos">
                C$ {{ creditos }}
            </div>
        </div>
    </app-pagina>

    <app-pagina position="bottom-right" [anim]="false" [cabecalho]="false" [layout]="false">
        <div class="go-up delay-1">
            <img src="assets/logotipo_full_web.png" alt="" width="120px"/>
        </div>
    </app-pagina>
</ion-content>
