:host {
  --ion-background-color: transparent;
}

.gui-item {
  display: flex;
  align-items: center;
  margin: 10px 0;

  .gui-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.headset {
    .gui-item-container {
      align-items: flex-end;
    }

    .gui-icon {
      width: 50px;

      padding: 5px 9px;
      border: 7px solid #8c601e;
      border-radius: 56px;
    }

    .gui-indicator {
      background-color: #8c601e;
      border: 1px solid #8c601e;
      border-radius: 15px;
      color: #FFFFFF;
      max-width: 55px;
      text-align: center;
      padding: 1px;
      transform: translateX(-8px);
      font-size: 15px;
    }
  }

  .gui-icon {
    width: 50px;

    &.fome {
      padding: 5px;
      border: 7px solid #ffbf00;
      border-radius: 50px;
    }

    &.sede {
      padding: 5px;
      border: 7px solid #00ffe5;
      border-radius: 50px;
    }

    &.sono {
      padding: 5px;
      border: 7px solid #e95bff;
      border-radius: 50px;
    }

    &.forca {
      padding: 5px;
      border: 7px solid #32d302;
      border-radius: 50px;
    }
  }

  .gui-indicator {
    margin-bottom: 5px;
    width: 150px;
    color: orange;
    font-weight: bold;
    font-size: 22px;

    &.barra-normal {
      transform: translateX(-6px);
    }

    &.barra-invertida {
      transform: translateX(6px);
    }
  }

  .dinheiro {
    margin: 40px auto 0 auto;
    font-size: 22px;
    font-weight: bold;
    color: green;
  }

  .creditos {
    margin: 15px auto 0 auto;
    font-size: 22px;
    font-weight: bold;
    color: orange;
  }
}
