<ion-content>
    <app-pagina position="top-right" top="230" [anim]="false" [cabecalho]="false" [layout]="false">
        <div class="gui-item go-up delay-1">
            <div class="gui-item-container">
                <div style="width: 50px;">
                    <div class="go-up fome-text delay-4" *ngIf="diffFome !== 0">
                        <ng-container *ngIf="diffFome > 0">+</ng-container>
                        {{ diffFome }}
                    </div>
                </div>

                <div class="gui-icon fome" appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.fome">
                    <img src="assets/player-gui/meat.png"/>
                </div>

                <div>
                    <div class="gui-indicator barra-normal"
                         appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.fome">
                        <app-player-gui-indicator [value]="dadosJogador.fome" activeColor="#ffbf00"
                                                  backgroundColor="#9e7600">

                        </app-player-gui-indicator>
                    </div>

                    <div class="gui-indicator barra-invertida"
                         appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.sede">
                        <app-player-gui-indicator [invertido]="true" [value]="dadosJogador.sede"
                                                  activeColor="#00ffe5" backgroundColor="#009e8e">

                        </app-player-gui-indicator>
                    </div>
                </div>

                <div class="gui-icon sede" appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.sede">
                    <img src="assets/player-gui/drink.png"/>
                </div>

                <div style="width: 50px;">
                    <div class="go-up sede-text delay-4" *ngIf="diffSede !== 0">
                        <ng-container *ngIf="diffSede > 0">+</ng-container>
                        {{ diffSede }}
                    </div>
                </div>
            </div>
        </div>

        <div class="gui-item go-up delay-3">
            <div class="gui-item-container">
                <div style="width: 50px;">
                    <div class="go-up sono-text delay-4" *ngIf="diffSono !== 0">
                        <ng-container *ngIf="diffSono > 0">+</ng-container>
                        {{ diffSono }}
                    </div>
                </div>

                <div class="gui-icon sono" appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.sono">
                    <img src="assets/player-gui/bed.png"/>
                </div>

                <div>
                    <div class="gui-indicator barra-normal"
                         appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.sono">
                        <app-player-gui-indicator [value]="dadosJogador.sono" activeColor="#e95bff"
                                                  backgroundColor="#682972">

                        </app-player-gui-indicator>
                    </div>

                    <div class="gui-indicator barra-invertida"
                         appBlink [blinkStartValue]="20" [blinkCurrentValue]="dadosJogador.forcaFisica">
                        <app-player-gui-indicator [invertido]="true" [value]="dadosJogador.forcaFisica"
                                                  activeColor="#32d302" backgroundColor="#1a7000">

                        </app-player-gui-indicator>
                    </div>
                </div>

                <div class="gui-icon forca" appBlink [blinkStartValue]="20"
                     [blinkCurrentValue]="dadosJogador.forcaFisica">
                    <img src="assets/player-gui/strength.png"/>
                </div>

                <div style="width: 50px;">
                    <div class="go-up forca-fisica-text delay-4" *ngIf="diffForcaFisica !== 0">
                        <ng-container *ngIf="diffForcaFisica > 0">+</ng-container>
                        {{ diffForcaFisica }}
                    </div>
                </div>
            </div>
        </div>

        <div class="gui-item go-up delay-4 headset">
            <div class="gui-item-container">
                <div class="gui-icon">
                    <img src="assets/player-gui/headset.png"/>
                </div>

                <div class="gui-indicator">
                    {{ voiceChatListeners.length }}
                </div>
            </div>
        </div>

        <div class="gui-item go-up delay-6">
            <div class="dinheiro">
                R$ <span id="dinheiro">{{ dadosJogador.dinheiro }}</span>
            </div>
        </div>

        <div class="gui-item go-up delay-7">
            <div class="creditos">
                C$ <span id="creditos">{{ dadosJogador.creditos }}</span>
            </div>
        </div>
    </app-pagina>

    <app-pagina position="bottom-right" [anim]="false" [cabecalho]="false" [layout]="false">
        <div class="go-up delay-1">
            <img src="assets/logotipo_full_web.png" alt="" width="120px"/>
        </div>
    </app-pagina>

    <app-pagina position="top-center" [anim]="false" [cabecalho]="false" [layout]="false">
        <small>Pressione "F3" para acessar o menu.</small>

        <div class="menu" [ngClass]="{'ativo': menuAtivo}">
            <div class="go-down delay-1">
                <div class="menu-container" (mouseleave)="toggleSubMenu('self', false)">
                    <div class="menu-item" (mouseenter)="toggleSubMenu('self', true)">
                        <div class="menu-label">
                            Mandrakke_Army
                        </div>

                        <div class="menu-submenu" *ngIf="submenu['self']">
                            <div class="menu-item go-down delay-1">
                                <div class="menu-label">
                                    Meus Dados
                                </div>
                            </div>
                            <div class="menu-item go-down delay-2">
                                <div class="menu-label">
                                    Profissão
                                </div>
                            </div>
                            <div class="menu-item go-down delay-3">
                                <div class="menu-label">
                                    Meus Veículos
                                </div>
                            </div>
                            <div class="menu-item go-down delay-4">
                                <div class="menu-label">
                                    Minhas Casas
                                </div>
                            </div>
                            <div class="menu-item go-down delay-5">
                                <div class="menu-label">
                                    Minhas Propriedades
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-label" (mouseenter)="toggleSubMenu('moderacao', true)">
                            Moderação
                        </div>

                        <div class="menu-submenu" *ngIf="submenu['moderacao']">
                            <div class="menu-item go-down delay-1">
                                <div class="menu-label">
                                    Checar Jogador
                                </div>
                            </div>
                            <div class="menu-item go-down delay-2">
                                <div class="menu-label">
                                    Chutar
                                </div>
                            </div>
                            <div class="menu-item go-down delay-3">
                                <div class="menu-label">
                                    Banir
                                </div>
                            </div>
                            <div class="menu-item go-down delay-4">
                                <div class="menu-label">
                                    Teleportar
                                </div>
                            </div>
                            <div class="menu-item go-down delay-5">
                                <div class="menu-label">
                                    Calar
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-label" (mouseenter)="toggleSubMenu('administracao', true)">
                            Administração
                        </div>

                        <div class="menu-submenu" *ngIf="submenu['administracao']">
                            <div class="menu-item go-down delay-1">
                                <div class="menu-label">
                                    Editor de Mapa
                                </div>
                            </div>
                            <div class="menu-item go-down delay-2">
                                <div class="menu-label" (click)="browserPage('gerenciar-veiculo')">
                                    Gerenciar Veículos
                                </div>
                            </div>
                            <div class="menu-item go-down delay-3">
                                <div class="menu-label">
                                    Gerenciar Casas
                                </div>
                            </div>
                            <div class="menu-item go-down delay-4">
                                <div class="menu-label">
                                    Gerenciar Propriedades
                                </div>
                            </div>
                            <div class="menu-item go-down delay-5">
                                <div class="menu-label">
                                    Gerenciar Jogador
                                </div>
                            </div>
                            <div class="menu-item go-down delay-6">
                                <div class="menu-label">
                                    Lista de Banidos
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-label">
                            Comprar Créditos
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-label" style="width: 80px" (mouseenter)="toggleSubMenu('ajuda', true)">
                            Ajuda
                        </div>

                        <div class="menu-submenu" *ngIf="submenu['ajuda']">
                            <div class="menu-item go-down delay-1">
                                <div class="menu-label">
                                    Profissões
                                </div>
                            </div>
                            <div class="menu-item go-down delay-2">
                                <div class="menu-label">
                                    Bicos
                                </div>
                            </div>
                            <div class="menu-item go-down delay-3">
                                <div class="menu-label">
                                    Locais
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-pagina>
</ion-content>
