<ion-content>
    <app-pagina position="middle-left">
        <div class="titulo">Visualizador de animações</div>

        <form [formGroup]="formGroup">
<!--            <div class="pesquisar">-->
<!--                <ion-auto-complete [dataProvider]="completeTestService"></ion-auto-complete>-->
<!--            </div>-->

            <div class="animacoes-container">
                <div class="flecha esquerda" (click)="animacaoPacoteAnterior()">

                </div>
                <div>
                    <ion-item>
                        <ion-label position="floating">Pacote</ion-label>
                        <ion-input formControlName="pacote" type="text" size="50"></ion-input>
                    </ion-item>
                </div>
                <div class="flecha direita" (click)="animacaoPacoteProximo()">

                </div>
            </div>

            <div class="animacoes-container">
                <div class="flecha esquerda" (click)="animacaoNomeAnterior()">

                </div>
                <div>
                    <ion-item>
                        <ion-label position="floating">Nome</ion-label>
                        <ion-input formControlName="nome" type="text" size="50"></ion-input>
                    </ion-item>
                </div>
                <div class="flecha direita" (click)="animacaoNomeProximo()">

                </div>
            </div>
        </form>
    </app-pagina>
</ion-content>
